**/__pycache__

examples/**

!examples/WRe/
!examples/WRe/ACE/
!examples/WRe/ACE/config.ini
!examples/WRe/ACE/FitSNAP.in
!examples/WRe/ACE/run_debug.sh
!examples/WRe/ACE/run_perlmutter.sh
!examples/WRe/ACE/CLAUDE.md

!examples/HBeW/
!examples/HBeW/ACE/
!examples/HBeW/ACE/config.ini
!examples/HBeW/ACE/FitSNAP.in
!examples/HBeW/ACE/run_perlmutter.sh
!examples/HBeW/ACE/CLAUDE.md

!examples/HBeW/GRACE/
!examples/HBeW/GRACE/config.ini
!examples/HBeW/GRACE/FitSNAP.in
