**/__pycache__

examples/*
!examples/Be/ACE/inputfile
!examples/Be/ACE/FitSNAP.in
!examples/Be/ACE/run_debug.sh
!examples/Be/ACE/run_lammps_ase.sh
!examples/Be/ACE/run_vasp_6.3.2_std_ase.sh
!examples/Be/SNAP/inputfile
!examples/Be/SNAP/FitSNAP.in
!examples/Be/SNAP/run_debug.sh
!examples/Be/SNAP/run_vasp_6.3.2_std_ase.sh
!examples/WRe/ACE/inputfile
!examples/WRe/ACE/FitSNAP.in
!examples/WRe/ACE/run_debug.sh
!examples/WRe/ACE/run_vasp_6.3.2_std_ase.sh
!examples/WRe/SNAP/inputfile
!examples/WRe/SNAP/FitSNAP.in
!examples/WRe/SNAP/run_debug.sh
!examples/WRe/SNAP/run_vasp_6.3.2_std_ase.sh